:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --index: calc(1vw + 1vh);

  --main-color: #377db2;
  --sub-color: #dfb332;

  --bg-shadow: #38241175;
  --bg-white: #f2f3f1cc;

  --title-color: #f0f0f0;
  --text--black: #242424;
  --text-white: whitesmoke;
  --links-color: #242424;

  --padding-section: 120px;
  --section-color-white: whitesmoke;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  display: block;
}

body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  padding: var(--padding-section) 0;
}

@media (max-width: 900px) {
  .section {
    padding: calc(var(--index) * 2) 0;
  }
}
